[MESSAGES CONTROL]
disable=duplicate-code,
        missing-module-docstring,
        invalid-name,
        too-few-public-methods,
        too-many-instance-attributes,
        too-many-return-statements,
        too-many-arguments,

[FORMAT]
max-line-length=120
